.App {
	text-align: center;
}

.Banner {
	background: url("/src/images/donation-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero {
	padding: 7.5rem 0;
	background: linear-gradient(
		to top,
		rgba(23, 23, 58, 0.98),
		rgba(23, 23, 58, 0.45)
	);
}

.DonorBanner {
	padding: 2.5rem 0;
	background: url("/src/images/donor-bg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.About{
	background: url("/src/images/aboutBanner.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.about-section{
	padding: 2.5rem .5rem;
	/* background: linear-gradient(
		to top,
		rgba(34, 34, 101, 0.469),
		rgba(52, 52, 101, 0.296)
	); */
	background: linear-gradient(to right, #17173ae6, #fb3640f2);
}

.Faq, .Gallery, .Reviews{
	margin: 50px 0;
}

.cover{
	width: 100%;
	height: 100%;
}

.Search{
	width: 75%;
	margin: 0 auto;
	padding: 10px;
}