.App {
	text-align: center;
}

.Banner {
	background: url("/src/images/donation-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.hero {
	padding: 7.5rem 0;
	background: linear-gradient(
		to top,
		rgba(23, 23, 58, 0.98),
		rgba(23, 23, 58, 0.45)
	);
}

.DonorBanner {
	padding: 2.5rem 0;
	background: url("/src/images/donor-bg.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.TopDonor{
	padding: 2.5rem 0;
	background-position: center;
	background-size: center;
	background-repeat: no-repeat;
}
.donor-img{
	object-fit: cover;
	width: 100%;
}